<aside class="character-sidebar-sheet dhca-section dhca-section--footer dhca-footer dhca-character-footer">
  <div class="dhca-footer__inner">
    <div class="dhca-footer__title">
      <span>{{localize 'DAGGERHEART.GENERAL.Tabs.resources'}}</span>
    </div>

    {{> 'modules/daggerheart-compact-sheets/templates/parts/thresholds.hbs'}}
    {{> 'modules/daggerheart-compact-sheets/templates/parts/resources.hbs' className='dhca-character__resources' includeArmor=true}}

    {{#if isDeath}}
      <button type="button" class="dhca-character__death-move" data-action="makeDeathMove">
        <i class="fa-solid fa-skull"></i>
        <span>{{localize 'DAGGERHEART.UI.Tooltip.makeDeathMove'}}</span>
      </button>
    {{/if}}
  </div>
</aside>
