<div class="dhca-header__art-layer">
  <div
    class="dhca-header__art"
    data-dhca-art-menu
    data-dhca-edit="img"
    aria-label="{{localize 'DHCS.ContextMenu.ArtMenuLabel'}}"
  >
    <img class="dhca-header__art-image" src="{{compact.artImg}}" alt="" aria-hidden="true" />
  </div>
</div>
