<section
  class="tab {{tabs.effects.cssClass}} {{tabs.effects.id}} dhca-section dhca-section--body dhca-tab-panel dhca-tab-panel--effects"
  data-tab="{{tabs.effects.id}}"
  data-group="{{tabs.effects.group}}"
>
  <div class="dhca-tab-panel__scroll">
    <div class="dhca-effects__section-stack">
      {{> 'daggerheart.inventory-items'
        title='DAGGERHEART.GENERAL.activeEffects'
        type='effect'
        collection=effects.actives
        canCreate=@root.editable
        hideResources=true
      }}

      {{> 'daggerheart.inventory-items'
        title='DAGGERHEART.GENERAL.inactiveEffects'
        type='effect'
        collection=effects.inactives
        canCreate=@root.editable
        hideResources=true
        disabled=true
      }}
    </div>
  </div>
</section>
